.content {
  display: grid;
  /* A soma das colums tem que ser 100% */
  grid-template-columns: 60% 40%;
  /* Header tem 114px = 11.4rem / 1fr - quando não usa porcentagem, pega o resto do tamanho e divide em 1 fração*/
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas: "header header" "left right";
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  /* top = ao topo / contain = do tamanho do espaço pai */
  background: url("/assets/home-background.svg") no-repeat top/contain;
  /* Para colocar a imagem no canto da tela cortada */
  background-position-x: -10rem;
}

main {
  grid-area: right;
  display: flex;
  align-items: center;
  margin-top: -12rem;
}

main .container {
  width: min(36.3rem, 100%);
}

main h2 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: 2.8rem;
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
}

input {
  border: 0.2rem solid var(--grey-blue);
  padding: 0 1.6rem;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}

.separator {
  /* Alinhando uma div ao lado da outra */
  display: flex;
  align-items: center;
  /* 4rem para cima e baixo e 0 para os lados */
  margin: 4rem 0;
}

.separator div:nth-child(2) {
  color: var(--grey-blue);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* O para cima e baixo e 1.35 rem para os lados */
  padding: 0 1.35rem;
  line-height: 0;
}

/* nth-child - pegar uma div filha */
.separator div:nth-child(1),
.separator div:nth-child(3) {
  background-color: var(--grey-blue);
  width: 100%;
  height: 1px;
}

/* Criando bolas flutuantes da home */
.ball {
  background: var(--blue);
  /* Formato da bola, para mais formatos https://bennettfeely.com/clippy/*/
  clip-path: circle();
  /* fixed = Fica na frente e por cima de tudo */
  position: fixed;
  opacity: 0.1;
}

.top {
  top: -46rem;
  width: 63.3rem;
  right: -35rem;
  height: 63.3rem;
}

.bottom {
  width: 21.2rem;
  height: 21.2rem;
  bottom: -15rem;
  right: 5.6rem;
}
